@page
@model D4PrototypeLearningPlatform.Pages.Opgaven.Example.Vraag2Model
@{
}

<h1>Example 2: Find HCF using for Loop</h1>
<div id="editor"></div>
<button type="button" class="btn btn-primary" onclick="RunCode()">Check code</button>

<div class="alert alert-success d-none" role="alert" id="hidden-success-alert">
    The code is correct!!!! 😊
</div>

<div class="alert alert-danger d-none" role="alert" id="hidden-danger-alert">
    Improve the code please!
</div>


<script>
var el = document.getElementById('editor');

// window.editor is accessible. 
var editor = null;
var init = function () {

    if (el) {
        console.log("Loading editor...");
        el.style.height = '800px';
        require(['vs/editor/editor.main'], function () {

            editor = monaco.editor.create(el, {
                theme: 'vs-dark',
                model: monaco.editor.createModel(`"use strict"
/**
 * ██    ██ ██████   █████   █████   ██████  ██████  
 * ██    ██ ██   ██ ██   ██ ██   ██ ██            ██ 
 * ██    ██ ██████  ███████ ███████ ██   ███  █████  
 *  ██  ██  ██   ██ ██   ██ ██   ██ ██    ██ ██      
 *   ████   ██   ██ ██   ██ ██   ██  ██████  ███████
 */
// Implement code for the next function that adds 2 numbers and return the result!


function Add(numberA, numberB) {
    // place code here!
    return 0;
}




`, "javascript")
            });

            editor.layout();
        });
    }

    // no point in keeping this around.
    window.removeEventListener("load", init);
};

window.addEventListener("load", init);
    
    function RunCode() {
        let TestRunner = `
        let __test = false;

    if (Add(4, 6) == 10)
    {
        if (Add(40, 6) == 46)
        {
            __test = true;
        }            
    }


    if (__test)
    {
        document.querySelector('#hidden-success-alert').classList.remove('d-none');
    } else {
        document.querySelector('#hidden-danger-alert').classList.remove('d-none');
    }
        `;


        eval(window.editor.getValue() + TestRunner);
        //document.querySelector('#hidden-success-alert').classList.remove('d-none');
    }

</script>