@page
@model D4PrototypeLearningPlatform.Pages.Opgaven.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Opgave</h4>
@if (Model.CursusId != "")
{
    <div>
        <a asp-page="/Cursussen/Edit" asp-route-id="@Model.CursusId">Back to Cursus</a>
    </div>
}

@if (Model.ModuleId != "")
{
    <div>
        <a asp-page="/Modules/Edit" asp-route-id="@Model.ModuleId" asp-route-cursus="@Model.CursusId">Back to Module</a>
    </div>
}
else
{
    <div>
        <a asp-page="./Index">Back to List</a>
    </div>
}

<hr />
<div class="row">
    <div class="col-md-10">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Opgave.Id" />
            <input type="hidden" asp-for="CursusId" />
            <input type="hidden" asp-for="ModuleId" />

            <div class="form-group">
                <label asp-for="Opgave.Name" class="control-label"></label>
                <input asp-for="Opgave.Name" class="form-control" />
                <span asp-validation-for="Opgave.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opgave.Description" class="control-label"></label>
                <input asp-for="Opgave.Description" class="form-control" />
                <span asp-validation-for="Opgave.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opgave.Type" class="control-label"></label>
                <select asp-for="Opgave.Type" class="form-control" asp-items="Html.GetEnumSelectList<ProgrammingLanguage>()"></select>
                <span asp-validation-for="Opgave.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opgave.InitialCode" class="control-label"></label>
                <textarea asp-for="Opgave.InitialCode" class="form-control w-100" rows="25"></textarea>
                <span asp-validation-for="Opgave.InitialCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opgave.TestingCode" class="control-label"></label>
                <p>
                    Use the code "Successful = true;" if the user code was correct! And Message
                </p>
                <textarea asp-for="Opgave.TestingCode" class="form-control w-100" rows="15"></textarea>
                <span asp-validation-for="Opgave.TestingCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
