@page
@model D4PrototypeLearningPlatform.Pages.UserDashboardModel
@{
	ViewData["Title"] = "User Dashboard";
}

<div class="text-center">
	<h1 class="display-4">Dashboard</h1>
	<div class="container">
		<div class="card-group">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Afspraken</h5>
					<div class="list-group">
						<a href="#" class="list-group-item list-group-item-action" aria-current="true">
							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-1">C# project 2</h5>
								<small>over 2 weken</small>
							</div>
							<p class="mb-1">Project C#: Bike Store.</p>
							<small class="text-muted">Onderdeel van Programmeren in C#.</small>
						</a>
						<a href="#" class="list-group-item list-group-item-action">
							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-1">Project 4</h5>
								<small class="text-danger">morgen</small>
							</div>
							<p class="mb-1">Project 4: Networking.</p>
							<small class="text-muted">Onderdeel van Systems and Networking.</small>
						</a>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Cursussen die ik volg</h5>
					<div class="list-group">

						@if (Model.Cursus.Count == 0)
						{
							<p>
								Ga naar het menu Enroll om een cursus te volgen!
							</p>
							@*<a href="#" class="list-group-item list-group-item-action" aria-current="true">
								<div class="d-flex w-100 justify-content-between">
									<h5>Professional Skills 5</h5>
								</div>
							</a>
							<a href="#" class="list-group-item list-group-item-action">
								<div class="d-flex w-100 justify-content-between">
									<h5>Projectmanagement 7</h5>
								</div>
							</a>
							<a href="#" class="list-group-item list-group-item-action">
								<div class="d-flex w-100 justify-content-between">
									<h5>Programmeren in C#</h5>
								</div>
							</a>
							<a href="#" class="list-group-item list-group-item-action">
								<div class="d-flex w-100 justify-content-between">
									<h5>Networking</h5>
								</div>
							</a>
							<a href="#" class="list-group-item list-group-item-action">
								<div class="d-flex w-100 justify-content-between">
									<h5>Application Security</h5>
								</div>
							</a>
							<a href="#" class="list-group-item list-group-item-action">
								<div class="d-flex w-100 justify-content-between">
									<h5>Another example</h5>
								</div>
							</a>*@
						}
						else
						{
							foreach (var item in Model.Cursus)
							{
								<a asp-page="/Student/List" asp-route-id="@item.Id" class="list-group-item list-group-item-action">
									<div class="d-flex w-100 justify-content-between">
										<h5>@item.Name</h5>
									</div>
								</a>
							}
						}
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Berichten</h5>
					<div class="list-group">
						<a href="#" class="list-group-item list-group-item-action" aria-current="true">
							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-1">Message 1</h5>
								<small>3 days ago</small>
							</div>
							<p class="mb-1">Some placeholder content in a paragraph.</p>
						</a>
						<a href="#" class="list-group-item list-group-item-action">
							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-1">Message 2</h5>
								<small class="text-muted">3 days ago</small>
							</div>
							<p class="mb-1">Some placeholder content in a paragraph.</p>
						</a>
						<a href="#" class="list-group-item list-group-item-action">
							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-1">Message 3</h5>
								<small class="text-muted">3 days ago</small>
							</div>
							<p class="mb-1">Some placeholder content in a paragraph.</p>
						</a>
					</div>
				</div>
			</div>
		</div>
		<button type="button" class="btn btn-primary">Add widget</button>
	</div>
</div>
